<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Boot_Strap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="navbar">
            <div class ="navbar-main">
            <div class="nav">
                <p>Start Boot-Strap</p>
                <button class="btn">Sign-up</button>
            </div>
                </div>
            </div>
            <div class="content">
                <h2>Generate more leads with a <br>professional landing page!</h2>
            <div class="content2">
                <input type="email" placeholder="Enter your email address">
                <button>Sign-up</button>
        </div>
        </div>
    </header>

     <div class="features">
      <div class="feature-card">
        <i class="fa-solid fa-truck"></i>
        <h3>Fully Responsive</h3>
        <p>Clean layout, strong typography, and a modern hero section.</p>
      </div>
      <div class="feature-card">
        <i class="fa-solid fa-face-smile"></i>
        <h3>Fully Responsive</h3>
        <p>Works smoothly on desktop, tablet, and mobile screens.</p>
      </div>
      <div class="feature-card">
        <i class="fa-brands fa-docker"></i>
        <h3>Fully Responsive</h3>
        <p>Simple structure with reusable sections and easy styling.</p>
      </div>
    </div>

    
</body>
</html>
